
h1, nav {
  text-align: center;
}


nav a {
  background: #ffb6c1;
  padding: 10px;
}

figcaption {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

img {
  display: block;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

#details div {
  float: left;
  width: 25%;
  background: #c06c84;
  text-align: center;
}
